<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
   <h1>Listado de datos</h1>
   <table>

    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Apellido</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Leslie</td>
        <td>Velásquez</td>
    </tr>
   </table> 
   <a href="{% url 'home:home.app' %}">Home</a>
</body>
</html>